<div class="home">
    <h3 class="home__header">Explore your curiosity with Curiosity!</h3>
    <mat-form-field class="home__action">
        <mat-label>Select a day</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="home__action">
        <mat-label>Select a camera view</mat-label>
        <mat-select [(value)]="cameraSelected" type="text" >
            <mat-option disabled value="">Select a camera view</mat-option>
            <mat-option value="">All cameras</mat-option>
            <mat-option value="camera=FHAZ">Front Hazard Avoidance</mat-option>
            <mat-option value="camera=RHAZ">Rear Hazard Avoidance</mat-option>
            <mat-option value="camera=MAST">Mast</mat-option>
            <mat-option value="camera=NAVCAM">Navigation Cameras</mat-option>
        </mat-select>
    </mat-form-field>
    <button class="home__action mat-raised-button" (click)="searchImages()">
        Search
    </button>
    <app-rover-list [rovers]="curiosityData$ | async" [doWeHaveImages]="doWeHaveImages" ></app-rover-list>
</div>