.home {
  padding: 24px 16px;
}
.headers {
  margin-bottom: 0;
  padding-left: 20px;
}
#searchButton {
  padding: 20px;
}
.dropdown {
  border: 1px solid lightgray;
  margin-left: 10px;
}
.headerMargin {
  margin-top: 10px;
}
.margin-bottom {
  margin-bottom: 20px;
}

#img {
  height: 100px;
  width: 140px;
  margin-right: 20px;
  object-fit: cover;
}
.hrPadding {
  margin: 20px 0;
}
#article {
  padding-left: 20px;
  max-width: 750px;
}