.rover-list-item {
    &__card {
        margin-bottom: 8px;

        &__aside {
            vertical-align: top; 
            display: table-cell;
        }

        &__image {
            height: 100px;
            width: 140px;
            margin-right: 20px;
            object-fit: cover;
        }

        &__text {
            margin-top: 10px;
        }
    }
}


