<div class="landing-page">
  <div class="landing-page__content">
    <div class="landing-page__title">
      <img class="landing-page__landing-image"  alt="logo"  [routerLink]="''" src="../../../assets/images/curiosityRoverLogo.png" />
    </div>
    <div class="landing-page__actions">
      <div class="landing-page__actions__enter">
        <button mat-raised-button color="primary"  [routerLink]="''"  >Get Started</button>
      </div>
    </div>
  </div>
</div>
curiosity-images/src/assets/images/curiosityLogo.svg